@import '../../styles/_variable.scss';

.container {
  height: 25px;
  border-radius: 7px;
  position: relative;
  background: $white;
  width: 150px;
  .label {
    position: absolute;
    top: 1px;
    right: 5px;
    color: $grey-600;
  }
  input {
    width: 115px;
    border: none;
    outline: none;
    padding: 2px 10px;
    margin: 0;
    border-radius: 7px;
    background: none;
  }
}
