@import '../../styles/_variable.scss';

.container {
  display: flex;
  align-items: center;
  height: 25px;
  span {
    display: inline-block;
    margin-right: 10px;
  }
}

.btn {
  padding: 2px 12px;
  color: $white;
  border-radius: 10px;
  cursor: pointer;
  background: $grey-500;
}
.btn + .btn {
  margin-left: 5px;
}

.btn_active {
  background: $theme-300;
  color: $white;
}

.container_selection {
  margin-top: 15px;
}
