@import '../../styles/_variable.scss';

.steps_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $transparent;
  width: 270px;
  height: 35vh;
  left: calc(100% - 30px);
  top: 50%;
  transform: translateY(-50%);
}

.step_container {
  display: flex;
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    font-weight: $font-weight-bold;
    font-size: 23px;
    background: $white;
    color: $grey-300;
    border: 1px solid $grey-400;
  }
  .titles {
    margin-left: 20px;
    color: hex($grey-600, 0.7);
    h1 {
      font-size: 19px;
      font-weight: $font-weight-bold;
    }
  }
}

.finished {
  .number {
    background: $theme-400;
    color: $white;
    border: none;
  }
}

.active {
  .number {
    background: $theme-200;
    color: $white;
    border: none;
  }
  .titles {
    color: hex($white, 0.9);
  }
}

.heading {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: $theme-300;
    font-weight: $font-weight-bold;
    font-size: 25px;
  }
  h2 {
    color: $grey-600;
    font-size: 10px;
  }
}
.content {
  height: 70%;
  background: $grey-200;
}
.button_group {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    padding: 8px 15px;
    background: $theme-200;
    color: $white;
    vertical-align: center;
    border-radius: 2px;
    font-size: 10px;
    margin: 0 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      margin: 0 5px;
    }
  }
}

.button_group_right {
  justify-content: flex-end;
}
