@import '../../styles/_variable.scss';

.container {
  height: 100%;
}

.steps_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $transparent;
  width: 270px;
  height: 50vh;
  left: calc(100% - 30px);
  top: 50%;
  transform: translateY(-50%);
}

.step_container {
  display: flex;
  // width: 300px;
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    font-weight: $font-weight-bold;
    font-size: 23px;
    background: $white;
    color: $grey-300;
    border: 1px solid $grey-400;
  }
  .titles {
    margin-left: 20px;
    color: hex($grey-600, 0.7);
    h1 {
      font-size: 18px;
      font-weight: $font-weight-bold;
      color: inherit;
    }
    h2 {
      font-size: 14px;
      color: inherit;
    }
  }
}

.finished {
  .number {
    background: $theme-400;
    color: $white;
    border: none;
  }
}

.active {
  .number {
    background: $theme-200;
    color: $white;
    border: none;
  }
  .titles {
    color: hex($white, 0.9);
  }
}
.componet_container {
  height: 90%;
  .heading {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: $theme-300;
      font-weight: $font-weight-bold;
      font-size: 25px;
    }
    h2 {
      color: $grey-600;
      font-size: 10px;
    }
  }
  .content {
    height: 70%;
    background: $grey-200;
  }
}

.button_group {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    width: 70px;
    padding: 8px 15px;
    background: $theme-200;
    color: $white;
    vertical-align: center;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    margin: 0 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    span {
      margin: 0 5px;
    }
  }
}

.button_group_right {
  justify-content: flex-end;
}
