@import '../../styles/_variable.scss';

.container {
  display: flex;
  // min-height: 100vh;
  min-width: calc(1290px + 7vw);
}

.left {
  width: 65%;
  min-width: 1060px;
  min-height: 100vh;
  background: $theme-100;
  padding: 120px 0;
  display: flex;
  align-items: center;
  .logo {
    position: absolute;
    left: 3%;
    top: 3%;
  }
}
.right {
  width: 35%;
  background: $theme-400;
}
.editor_wrapper {
  position: relative;
  display: flex;
  background: $white;
  width: clamp(950px, 100%, 1700px);
  margin-left: auto;
  margin-right: 0;
  right: -7vw;
  // height: 100%;
  // left: calc(10% + 100px);
  // top: calc(50% - 41vh);
  // don't use this property as it will break cover layer to stay relative to parent element instead of viewport
  // transform: translateY(-50%);
  // margin-top: 1;
  min-height: 600px;
  border-radius: 20px;
  .preview {
    width: calc(300px + 23%);
    background: $theme-300;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin: 0 auto;

    padding: 10px;
    .preview_alignment {
      // display: inline-block;
      position: relative;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      max-width: 500px;
      overflow-x: auto;
      padding-bottom: 10px;
      scrollbar-color: $grey-100;
      scrollbar-width: thin;
    }
    .preview_alignment::-webkit-scrollbar {
      height: 10px;
    }

    .preview_alignment::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }

    .preview_alignment::-webkit-scrollbar-thumb {
      background-color: $grey-500;
      border-radius: 5px;
    }

    .btn {
      margin-top: 20px;
      background: $theme-300;
      border: 1px solid $white;
      border-radius: 5px;
      padding: 5px 10px;
      color: $white;
      cursor: pointer;
    }
    .btn:hover {
      background: darken($theme-300, 10%);
    }
  }
  .editor {
    position: relative;
    width: calc(77% - 300px);
    display: flex;
    flex-direction: column;
  }
}
