@import '../../styles/_variable.scss';

.container {
  display: flex;
  // align-items: center;
  .widget {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
    justify-content: space-between;
    .url {
      width: 100%;
      display: flex;
      align-items: center;
      // margin-top: 35px;
      position: relative;
      input {
        flex-grow: 1;
        outline: none;
        margin-left: 5px;
        border: 2px solid $theme-100;
        border-radius: 5px;
        padding: 5px 10px;
        height: 30px;
      }
      input:focus {
        border: 2px solid $theme-300;
      }
      input[type='text']:disabled {
        background: $grey-200;
      }
      button {
        margin-left: 5px;
        border: none;
        background: $theme-300;
        border-radius: 5px;
        height: 30px;
        padding: 5px 10px;
        line-height: 20px;
        cursor: pointer;
        color: $white;
      }
      button:disabled {
        background: $grey-500;
      }
      .error {
        position: absolute;
        top: 30px;
        color: $red;
      }
    }
  }
}
