@import '../../styles/_variable.scss';

.container {
  position: relative;
  height: 25px;
  .display_color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 7px;
  }
}
