@import '../../styles/_variable.scss';

.field_container {
  // width: 80%;
  min-width: 350px;
  border-radius: 5px;
  border: 2px solid $theme-300;
  position: relative;

  .basic {
    width: 100%;
    display: flex;
    height: 30px;
    label {
      width: 170px;
      // display: inline-block;
      // display: flex;
      flex-shrink: 0;
      text-align: center;
      background: $theme-100;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      line-height: 30px;
    }
    label.toggler_open {
      border-bottom-left-radius: 0;
    }
    .content {
      position: relative;
      flex-grow: 1;
      input {
        width: 100%;
        height: 100%;
        padding-left: 10px;
        // line-height: 30px;
        border: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        outline: none;
      }
      input.toggler_open {
        border-bottom-right-radius: 0;
      }
      .toggler {
        position: absolute;
        display: inline-block;
        right: 7px;
        top: 4px;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }
  .field_more {
    // position: absolute;
    // display: none;
    overflow: hidden;
    width: 100%;
    // height: 0;
    // z-index: 100;
    // background: rgba(0, 0, 0, 0.5);
    .field_more_wrapper {
      display: flex;
      height: 0;

      .field_more_label {
        width: 170px;
        // flex-shrink: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background: $theme-100;
        // transition: max-height 4s ease-out;
        // height: auto;
        // max-height: 0;
        // input {
        //   border: none;
        //   width: 100%;
        //   padding: 5px 10px;
        //   border-radius: 5px;
        //   margin-top: 10px;
        //   outline: none;
        // }
        // height: 100%;
      }

      .field_more_content {
        // height: 100%;
        // position: relative;
        flex-shrink: 1;
        flex-grow: 1;
        background: $white;
        display: flex;
        flex-direction: column;
        padding: 10px;

        // &_heading {
        //   color: $theme-400;
        //   font-weight: $font-weight-bold;
        //   margin-bottom: 10px;
        //   display: flex;
        //   justify-content: space-between;
        // }
        // &_default {
        //   display: flex;
        //   justify-content: flex-end;
        // }
      }

      &_heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $theme-400;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
        height: 25px;
      }
    }
    .field_more_wrapper_expanded {
      border-top: 2px solid $theme-300;
      height: auto;
    }
  }
}

.field_container + .field_container {
  margin-top: 9px;
}

.container_space {
  margin-top: 15px;
}

.btn {
  padding: 2px 12px;
  // font-weight: 5px;
  // color: $theme-300;
  color: $white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: $theme-200;
  &:hover {
    background: lighten($theme-200, 10%);
  }
}
