@import '../../styles/_variable.scss';

.container {
  height: 100%;
  display: flex;
  // justify-content: space-evenly;
  flex-direction: column;
  width: 350px;
  margin: auto;
  // background: red;
  h2 {
    margin-bottom: 40px;
    text-align: center;
    color: $grey-700;
  }
  .added_icons_container {
    position: relative;
    .added_icons {
      display: flex;
      width: 100%;
      height: 100px;
      border-radius: 7px;
      background: $theme-100;
      // align-items: center;
      padding: 0 20px;
      gap: 10px;
      .added_icon_container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .delete {
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          color: $red;
          right: 15px;
          top: -18px;
        }
        .color_picker {
          width: 30px;
          height: 30px;
          margin-top: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
    .new_icon {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      color: $theme-300;
      cursor: pointer;
    }
    .palette {
      position: absolute;
      top: 39px;
      right: 7px;
      padding: 2px;
      font-size: 24px;
      background: $theme-300;
      color: $white;
      border-radius: 50%;
      cursor: pointer;
    }
    .change_icon_type {
      position: absolute;
      top: 68px;
      right: 5px;
      width: 30px;
      height: 30px;
      color: $theme-300;
      cursor: pointer;
    }
  }
  .icon_link {
    border: 2px solid $theme-400;
    border-radius: 5px;
    display: flex;
    height: 30px;
    margin-top: 20px;
    color: $theme-400;
    span {
      width: 100px;
      background: $theme-100;
      line-height: 26px;
      text-align: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    input {
      border: none;
      outline: none;
      padding: 0 10px;
      width: calc(100% - 100px);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .all_icons {
    margin-top: 20px;
  }
}

.added_icon {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $transparent;
}
.added_icon_line {
  color: $grey-500;
}

.added_icon_fill_circle {
  background: $grey-500;
  color: $white;
}

.added_icon_outline_circle {
  border: 2px solid $grey-500;
  color: $grey-500;
}

.added_icon_fill_square {
  background: $grey-500;
  color: $white;
  border-radius: 5px;
}

.added_icon_outline_square {
  border: 2px solid $grey-500;
  color: $grey-500;
  border-radius: 5px;
}
