@import '../../styles/_variable.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10px;
  span {
    display: inline-block;
    margin-right: 10px;
  }
}

.container_slider {
  height: 15px;
}
