@import '../../styles/_variable.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  .icon {
    width: 30px;
    height: 30px;
    color: $grey-500;
    // background: $theme-300;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey-500;
    cursor: pointer;
    font-size: 16px;
  }
  .icon_active {
    border: 2px solid $theme-300;
  }
}
